{
    "presets": [
        [
            "env",
            {
                "browser": {
                    "target": ["last 2 versions"]
                }
            }
        ]
    ],
    "plugins": [
        "transform-runtime"
    ]
}