<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body onmousedown="return 0" onmousemove="return 0" onselect="javascript:void(0)">
    <div ng-app="app">

        <span draggable>aaaa</span>
        <input type="text" ng-model="test" autofocus>
        <span replaceTest>{{log}}</span>
    
        <div ng-controller="Ctrl">
            <input type="text" ng-model="greeting">
            <br>
            <span>filter: {{greeting | reverse}}</span>
            <br>
            <span>nothing: {{greeting}}</span>
            <br>
            <span>filter:true: {{greeting | reverse:true}}</span>
        </div>
    </div>


    <script src="scripts/angular-1.5.2-min.js"></script>
    <script src="index.js"></script>
</body>
</html>