<!DOCTYPE HTML>
<html lang="zh-CN">

<head>
    <meta charset="utf-8" />
    <title>信用卡中心</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />

    <!-- S 预解析DNS列表 -->
    <link rel="dns-prefetch" href="//s.paipaiimg.com">
    <!-- E 预解析DNS列表 -->

    <!-- S 引用前端页面片 -->
    <!--#include virtual="/sinclude/cssi/fd/h5/hhd/page/diversion.shtml" -->
    <!-- E 引用前端页面片 -->
    <link rel="stylesheet" type="text/css" href="css/common.min_701e2e61.css" combo-use>
    <!-- global:css -->
    <link rel="stylesheet" type="text/css" href="css/gb.min_34f54449.css" combo-use>
    <!-- endglobal -->

    <link rel="stylesheet" type="text/css" href="css/diversion.css" combo-use>

    <link rel="stylesheet" href="css/eles.css">
</head>
<!-- 注：加ontouchstart使css：active生效 -->

<body ontouchstart>

    <div class="mod_container">
        <div class="bgImg">
            <div>
                <!-- <img src="images/bg.png" /> -->
                <div class="card">
                    <img src="images/card.png" alt="" class=‘cardpng>
                    <div class="yhk_c">
                        <div class="yhk" @click='yhk_tapA'></div>
                        <div class="yhk" @click='yhk_tapB'></div>
                    </div>

                </div>
                <div class="form">
                    <form action="javascript:void(0)" method="post">
                        <div class="form-group">
                            <input @blur="mobileMD" type="number" name="mobile" placeholder="输入手机号" v-model='mobile'
                                value="" id="mobile" />
                        </div>
                        <div class="form-group yzm——input">
                            <input @blur="codeMD" type="number" name="Vcode" autocomplete="off" placeholder="输入短信验证码"
                                v-model='code' value="" class="yzm" />
                            <button @click="getVcode" v-attr-disabled='waiting' class="yzm_btn">{{content}}</button>
                        </div>
                        <input type="button" value="立即申请" @click="submit" />
                    </form>
                    <div style="opacity: 0;filter: alpha(opacity=0);position: fixed;">
                        <a class="android"
                            href="http://prod-public.oss-cn-shanghai.aliyuncs.com/androidapp/hzphloan_v1.3.0_h5.apk"
                            download="http://prod-public.oss-cn-shanghai.aliyuncs.com/androidapp/hzphloan_v1.3.0_h5.apk"></a>
                        <a class="iphone" href="https://itunes.apple.com/cn/app/id1406675346?mt=8"
                            download="https://itunes.apple.com/cn/app/id1406675346?mt=8"></a>
                    </div>

                </div>
            </div>
        </div>
        <div class="assoitBOX">

        </div>

    </div>
    <div class="download clearfix" @click="clickDownload">
        <!-- <span class='closeDownload'
      style="float: left;font-size: 16px;margin-left: -15px;margin-right: 10px;margin-top: 7px;">✖</span> -->
        <div class="download_logo">
            <img src="./images/download_logo.png" /> <span class="download_info">下载APP 更多信用卡等你申请
            </span>
        </div>
        <div class="download_button">
            <button>立即下载</button>
        </div>
    </div>
    <!--<script src="https://cdn.bootcss.com/jsSHA/2.3.1/sha1.js" type="text/javascript" charset="utf-8"></script>-->
    <script src="js/sha1.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/md5.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/jquery-3.3.1.js" type="text/javascript" charset="utf-8"></script>
    <!--<script src="https://cdn.bootcss.com/blueimp-md5/1.1.0/js/md5.min.js"></script>-->
    <!-- <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js" type="text/javascript" charset="utf-8"></script> -->
    <!--<script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js" type="text/javascript" charset="utf-8"></script>-->
    <script src="js/tools.js" type="text/javascript" charset="utf-8"></script>

    <!-- global:js -->
    <!-- endglobal -->
    <script src="js/diversion.js" combo-use></script>

</body>

</html>